# Use 4 spaces per indentation level.
BasedOnStyle: LLVM
IndentWidth: 4

# Braces on the same line as control statements (Linux/GNU style).
BreakBeforeBraces: Attach

# No column limit to ensure wrapping does not break alignment.
ColumnLimit: 0
BreakConstructorInitializers: BeforeColon
FixNamespaceComments: true
NamespaceIndentation: All
AccessModifierOffset: -4